body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(39, 39, 39);
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.swiper {
  margin-top: 20px;
}

.swiper-slide {
  width: 90vw !important;
  height: 90vh !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative !important;
}

.card {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: white;
  background-color: #333333e3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -2px 1px 3px #333;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
}
